/*
Color Palette: 
#0A090C
#F0EDEE
#07393C
#2C666E
#90DDF0
*/

/* Global Elements */

html {
    box-sizing: border-box;
}    

*, *:before,*:after {
    box-sizing: inherit;
}

body {
    background: #F0EDEE;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

section {
    padding: 1em 0;
}

img {
    width: 60%;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: 'Macondo', 'cursive';
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
    padding: 20px 0 ;
}

/* About/Profile */

header {
    color: #F0EDEE;
    background-color: #07393C;
    padding: 1em 0;
}

/* Projects/Portfolio */

.projects{
    background: #F0EDEE;
}

.projectitem {
    overflow: hidden;
}

.projectitem img {
    position: relative;
    float: left;
    margin-right: 20px;
}

/* Work Experience */

.work {
    background: #2C666E;
    color:#F0EDEE;
    clear: both;
}

/* Education */

.edu {
    background: #90DDF0;
}

/* Footer Content */

footer {
    background: #0A090C;
    color: #F0EDEE;
    margin: 0 auto;
}

footer ul {
    list-style: none;
    text-align: left;
}