/*
Color Palette: 
#0A090C
#F0EDEE
#07393C
#2C666E
#90DDF0
*/

/* Global Elements */

* {
    box-sizing: border-box;
}

body {
    background: #F0EDEE;
    margin: 0;
}

section {
    padding-top: 1em;
    padding-bottom: 1em;
}

img {
    width: 50%;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 20px 0 ;
}

/* About/Profile */

header {
    color: #F0EDEE;
    background-color: #07393C;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Projects/Portfolio */

.projects{
    background: #F0EDEE;
}

/* Work Experience */

.work {
    background: #2C666E;
}

/* Education */

.edu {
    background: #90DDF0;
}

/* Footer Content */

footer {
    background: #0A090C;
    color: #F0EDEE;
    text-align: center;
    padding: 1em;
}

footer ul {
    list-style: none;
}