/*
Color Palette: 
#0A090C
#F0EDEE
#07393C
#2C666E
#90DDF0
*/

/* Global Elements */

html {
    box-sizing: border-box;
}    

*, *:before,*:after {
    box-sizing: inherit;
}

body {
    background: #F0EDEE;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

section {
    padding: 1em 0;
}

img {
    width: 500px;
}

a {
    text-decoration: none;
    color: #fff;
}

h3 {
    margin-bottom: 0;
}

.projectitem h3 {
    margin-bottom: 20px;
}

h1, h2 {
    font-family: 'Macondo', 'cursive';
    margin: 0;
}

h1 {
    font-size: 40px;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

.divider > section {
    border-bottom: 1px dashed #0A090C;;
    padding: 25px 0;
}

.divider > section:last-of-type {
    border-bottom: none;
}

.wrapper {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 20px 0 ;
}

/* Navigation */

nav {
    width: 100%;
}

ul#nav {
    display: inline-block;
}

nav, nav ul {
    list-style: none;
    line-height: 1;
    padding: 0;
    margin: 16px 0 0 0;
}

nav a {
    display: block;
    width: 130px;
    color: #fff;
}

nav li {
    float: left;
    width: 130px;
}

nav li ul {
    position: relative;
    width: 130px;
    left: -999em;
}

nav li:hover ul {
    left: auto;
}

nav ul#nav li ul li a {
    color: #90DDF0;
}

nav ul#nav li ul li a:hover {
    text-decoration: underline;
}

/* About/Profile */

header {
    color: #F0EDEE;
    background-color: #07393C;
    padding: 1em 0;
}

header p {
    margin: 0;
}

/* Projects/Portfolio */

.projects{
    background: #2C666E;
    color: #F0EDEE;
}

.projectitem {
    overflow: hidden;
}

/* Work Experience */

.work {
    background: #F0EDEE;
    color: #0A090C;
    clear: both;
}

/* Education */

.edu {
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position:right;
    padding-bottom: 100px;
}

.edu p {
    width: 60%;
}

/* Footer Content */

footer {
    background: #07393C;
    color: #F0EDEE;
}

footer ul {
    list-style: none;
    text-align: left;
}

/* Contact Information */
.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}

/* Responsive */
@media screen and (min-width: 750px) {

    header, footer { 
        text-align: center;
    }

    .projectitem img {
        position: relative;
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }

    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 749px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }

    h2 {
        line-height: 1;
    }

    .contact-list a {
        padding: 5px;
    }

    nav {
        display: none;
    }
}